In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import skew, norm
from scipy.special import boxcox1p, boxcox
import warnings
import datetime

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_id = pd.read_csv("test.csv")
len_train = train.shape[0]
combined = pd.concat([train,test], sort=False)
print(train.shape)
print(test.shape)

(1351, 13)
(338, 12)

In [3]:
#Delete Data-URL, irrelevant
train = train.drop('data-url', 1)
test = test.drop('data-url', 1)

In [4]:
#First try, fill with 0's
zeros = ('buildingSize','erfSize','garage')
ones = ('bathroom', 'bedroom')


for col in zeros:
    train[col] = train[col].fillna(0)
    test[col] = test[col].fillna(0)
    
for col in ones:
    train[col] = train[col].fillna(1)
    test[col] = test[col].fillna(1)

In [5]:
train.isnull().sum().sort_index()[train.isnull().sum() > 0]

Series([], dtype: int64)

In [6]:
test.isnull().sum().sort_index()[test.isnull().sum() > 0]

Series([], dtype: int64)

In [7]:
train = train.drop(train[(train['erfSize']>10000) & (train['data-price']<3000000)].index)

In [8]:
train.shape

(1349, 12)

In [9]:
#Correct for skewness in SalesPrice using nplog
train['data-price'] = np.log1p(train['data-price'])

In [10]:
len_train=train.shape[0]
combined = pd.concat([train,test], sort=False)
print(combined.shape)

(1687, 12)

In [12]:
#add_datepart(combined, 'data-date')

In [11]:
combined.head()

,house-id,area,bathroom,bedroom,buildingSize,data-date,data-isonshow,data-location,erfSize,garage,type,data-price
0,1,boland-winelands,3.0,3.0,300.0,2018-05-31 14:44:46,False,La Sandra,1240.0,2.0,house,15.598902
1,2,northern-suburbs,1.0,2.0,0.0,2018-05-16 12:23:46,False,Observatory,105.0,0.0,house,14.343194
2,3,boland-winelands,3.0,5.0,0.0,2018-05-29 15:38:01,False,Riebeek Valley,238.0,2.0,apartment,15.341567
3,4,boland-winelands,2.0,3.0,124.0,2016-07-04 10:26:20,False,Strand South,124.0,1.0,apartment,14.038655
4,5,boland-winelands,4.0,4.0,400.0,2016-10-21 09:30:10,False,Ceres,500.0,0.0,house,15.725053

In [12]:
num_feats = combined.dtypes[combined.dtypes != "object"].index

# Check the skew of all numerical features
skewed_feats = combined[num_feats].apply(lambda x: skew(x.dropna())).sort_values(ascending=False)
print("\nSkew in numerical features: \n")
skewness = pd.DataFrame({'Skew' :skewed_feats})
skewness = skewness.drop('data-price', 0)
skewness.head(15)

Skew in numerical features:

                   Skew
erfSize        7.448560
data-isonshow  5.429007
buildingSize   1.005642
bathroom       0.960948
bedroom        0.724898
garage         0.530627
house-id       0.000858

In [13]:
#Correct for skewness by using boxcox1p
skewness = skewness[abs(skewness) > 0.5]
skewness = skewness.drop('house-id' ,0)
print("There are {} skewed numerical features to Box Cox transform".format(skewness.shape[0]))

skewed_features = skewness.index
lam = 0.15
for feat in skewed_features:
    combined[feat] = boxcox1p(combined[feat], lam)

There are 6 skewed numerical features to Box Cox transform

In [14]:
combined.head()

,house-id,area,bathroom,bedroom,buildingSize,data-date,data-isonshow,data-location,erfSize,garage,type,data-price
0,1,boland-winelands,1.540963,1.540963,9.025890,2018-05-31 14:44:46,0.0,La Sandra,12.741053,1.194318,house,15.598902
1,2,northern-suburbs,0.730463,1.194318,0.000000,2018-05-16 12:23:46,0.0,Observatory,6.751853,0.000000,house,14.343194
2,3,boland-winelands,1.540963,2.055642,0.000000,2018-05-29 15:38:01,0.0,Riebeek Valley,8.492259,1.194318,apartment,15.341567
3,4,boland-winelands,1.194318,1.540963,7.087847,2016-07-04 10:26:20,0.0,Strand South,7.087847,0.730463,apartment,14.038655
4,5,boland-winelands,1.820334,1.820334,9.715842,2016-10-21 09:30:10,0.0,Ceres,10.272202,0.000000,house,15.725053

In [15]:
combined['data-date'] = pd.to_datetime(combined['data-date'])

In [16]:
combined['Year'] = combined['data-date'].map(lambda x: x.year)

In [17]:
combined['Month'] = combined['data-date'].map(lambda x: x.month)

In [18]:
combined['Day'] = combined['data-date'].map(lambda x: x.day)

In [19]:
combined['Time'] = combined['data-date'].map(lambda x: x.strftime('%H:%M:%S'))

In [20]:
combined = combined.drop('data-date', 1)

In [21]:
combined.head()

,house-id,area,bathroom,bedroom,buildingSize,data-isonshow,data-location,erfSize,garage,type,data-price,Year,Month,Day,Time
0,1,boland-winelands,1.540963,1.540963,9.025890,0.0,La Sandra,12.741053,1.194318,house,15.598902,2018,5,31,14:44:46
1,2,northern-suburbs,0.730463,1.194318,0.000000,0.0,Observatory,6.751853,0.000000,house,14.343194,2018,5,16,12:23:46
2,3,boland-winelands,1.540963,2.055642,0.000000,0.0,Riebeek Valley,8.492259,1.194318,apartment,15.341567,2018,5,29,15:38:01
3,4,boland-winelands,1.194318,1.540963,7.087847,0.0,Strand South,7.087847,0.730463,apartment,14.038655,2016,7,4,10:26:20
4,5,boland-winelands,1.820334,1.820334,9.715842,0.0,Ceres,10.272202,0.000000,house,15.725053,2016,10,21,09:30:10

In [22]:
#Get Dummies
combined = pd.get_dummies(combined)
len_train = train.shape[0]

In [23]:
train.shape

(1349, 12)

In [24]:
train = combined[:len_train]
y_train = train['data-price'].values
train = train.drop(['house-id','data-price'], 1)
test = combined[len_train:]
test = test.drop(['house-id','data-price'], 1)
train.shape

(1349, 1198)

In [25]:
from sklearn.linear_model import Lasso, Ridge, LinearRegression, ElasticNet
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

In [26]:
#Validation function - Courtesy of ....
n_folds = 5
def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train.values)
    rmse= np.sqrt(-cross_val_score(model, train.values, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

### Linear Regression

In [27]:
LinReg = LinearRegression()
score = rmsle_cv(LinReg)
print("Random Forest score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Random Forest score: 0.2186 (0.0251)

### Ridge Regression

In [28]:
RG = Ridge(alpha=0.01, random_state = 5)
score = rmsle_cv(RG)
print("Ridge score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Ridge score: 0.2143 (0.0204)

### Lasso Regression

In [29]:
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.00001, random_state = 5))
score = rmsle_cv(lasso)
print("Lasso score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Lasso score: 0.2142 (0.0234)

In [60]:
from sklearn.kernel_ridge import KernelRidge
KRR = KernelRidge(alpha=0.085, kernel='polynomial', degree=2, coef0=2.5)
score = rmsle_cv(KRR)
print("Kernel Ridge score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Kernel Ridge score: 0.2139 (0.0213)

### XGBoost

In [34]:
'''data_dmatrix = xgb.DMatrix(data=train.values,label=y_train)
XGBoost = xgb.XGBRegressor(random_state = 5, max_depth = 3, alpha = 10, n_estimators = 1000,
                           learning_rate = 0.3, objective = 'reg:squarederror', colsample_bytree = 0.5,
                          subsample = 0.75)
score = rmsle_cv(XGBoost)
print("Gradient Boosting score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))'''

'data_dmatrix = xgb.DMatrix(data=train.values,label=y_train)\nXGBoost = xgb.XGBRegressor(random_state = 5, max_depth = 3, alpha = 10, n_estimators = 1000,\n                           learning_rate = 0.3, objective = \'reg:squarederror\', colsample_bytree = 0.5,\n                          subsample = 0.75)\nscore = rmsle_cv(XGBoost)\nprint("Gradient Boosting score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))'

## Elastic Net Regression

Elastic net is basically a combination of both L1 and L2 regularization. So if you know elastic net, you can implement both Ridge and Lasso by tuning the parameters.

In [41]:
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0001, l1_ratio=0.1, random_state=3))
score = rmsle_cv(ENet)
print("ElasticNet score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

ElasticNet score: 0.2136 (0.0206)

### We then fit the training data to all models

In [61]:
#Fit the training dataset on every model
lr = LinReg.fit(train, y_train)
ls = lasso.fit(train, y_train)
rg = RG.fit(train, y_train)
kr = KRR.fit(train, y_train)
#rf = RandomForest.fit(train, y_train)
#gb = GBoost.fit(train,y_train)
#xg = XGBoost.fit(train,y_train)
en = ENet.fit(train, y_train)

In [63]:
pred_lr = np.expm1(lr.predict(test))
pred_ls = np.expm1(ls.predict(test))
pred_rg = np.expm1(rg.predict(test))
#pred_rf = np.expm1(rf.predict(test))
#pred_gb = np.expm1(gb.predict(test))
#pred_xg = np.expm1(xg.predict(test))
pred_en = np.expm1(en.predict(test))
pred_kr = np.expm1(kr.predict(test))

### Mean of all model's prediction.
np.expm1 ( ) is used to calculate exp(x) - 1 for all elements in the array.

In [93]:
final_predictions = (pred_ls + pred_rg + pred_en + pred_kr) / 4
# Tried weighted average, scored less
final_weighted = (0.42 * pred_ls) + (0.18 * pred_rg) + (0.20 * pred_en) + (0.20 * pred_kr)

### Check the predictions

In [91]:
final_weighted

array([3264628.72153768, 1728451.73464089, 7345048.46581766,
       3650842.47285995, 7158527.25362357, 2779843.31964912,
       2468296.11121481, 5649936.89960853, 3062466.84409037,
       3433703.59641683, 3551823.77022157, 5546401.70070149,
       5519456.02820734, 1851346.74503876, 4102232.83689114,
       1915549.60786289, 3841511.85801393, 1418633.7399795 ,
       4387637.41912822, 4438381.78328385, 4132555.98806967,
       6225975.52703202, 6215186.47978419, 3347022.64858446,
       2279987.35772922, 1720067.4633333 , 2265223.41553767,
       3853754.68032787, 6382915.30433237, 3662541.08942197,
       5919660.52428469, 7460592.18355838, 3445297.41923015,
       5723753.62425276, 4519771.07922431, 4326536.65120466,
        863452.18073512, 2644342.79589836, 1638751.58836708,
       2964891.68042888, 3742746.84499017, 6047051.20282603,
       1671376.65879027, 4861840.42927601, 1923880.96119124,
       2729656.52248854, 2600130.43480169, 1601623.63043502,
       4686325.52478715, 1493053.54277812, 3165628.42999202,
       2315198.96517229, 2793670.9365805 , 5811807.56086752,
       2110759.4967742 , 7037945.98140101, 3704616.47131406,
       2468612.62825245, 1645641.55732133, 6477194.45448254,
       4858271.5025474 , 2096293.8262595 , 4039561.83946161,
       1776855.74559904, 1603599.78326634, 6779137.67889634,
       3468898.08740419, 3243357.12890932, 2614518.94586813,
       3278696.43811637, 3243804.65481729, 3972026.59895661,
       2144314.15605442, 3632288.41863284, 2454741.79202436,
       1831524.53509863, 3665495.90077261, 4082432.79133906,
        613409.65985721, 4507646.41993325, 3346027.41302519,
       5302951.67423668, 4691456.15394443, 4105294.19089841,
       6240974.06134875, 4917007.23486696, 6049976.84334592,
       2141394.13157313, 2881415.46018775, 1804762.4778898 ,
       5817316.7185358 , 6542013.66392544, 4448692.78790652,
       3432707.97906008, 4417151.20572133, 4855191.5350854 ,
       1867268.05917226, 2420610.71612317, 5251014.43869492,
       2112186.7925031 , 3999412.00913186, 2607115.92097602,
       4357019.43951066, 3522353.21948932, 4022626.25064429,
       3290315.41159581, 6347719.95644194, 4514455.83933173,
       4118210.08044166, 3491546.8699891 , 1378107.24445463,
       2232224.8426734 , 5417502.40980847, 3698263.5073398 ,
       3914177.47185079, 1633312.13186858, 7397867.51083778,
       2520722.864073  , 4663099.58970576, 3787020.37918123,
       5251315.8627913 , 2599836.18733137, 3882886.84219665,
       3161941.54990117, 4424692.27677775, 3756998.48044781,
       3660308.17268743, 2246010.09256177, 1772003.7764222 ,
       4024288.69378942, 5797334.38619225,  900470.81296132,
       3301006.81182754, 6420077.18824772, 4389826.43231567,
       3124965.14475129, 4370589.71813669, 2155970.06976943,
       1701093.63558031, 2762902.21262403, 2926998.80232499,
       2968380.33640513, 3953600.61993299, 3499539.36676284,
       3267904.66496746, 3890346.15498751, 4915835.47314367,
       5302878.89512544, 4494195.59061727, 3221959.01541559,
       4081937.88864295, 3882532.05259096, 4429915.70912291,
       4258860.50322998, 6323975.41748905, 7167886.90368423,
       6631565.31291337, 3961496.30021892, 5390135.78106427,
       2910538.87232224, 1821167.67960664, 4071159.2727033 ,
       6785240.88089922, 5420688.85183711, 3085588.50450309,
       3922571.34621378, 2992552.64932774, 3615515.71077004,
       7068792.78334621, 3251143.87997997, 1193132.13018649,
       3029565.20755909, 3839705.07084851, 4565475.34215223,
       5177147.92544329, 4989061.73595438, 3568850.51984929,
       4945964.97069165,  907683.40860233, 1853508.27208307,
       6733130.34388857, 1513786.87965511, 5050889.24104926,
       1626462.00847224, 2760675.67005459, 3197984.02727026,
       3865973.01614554, 3188754.9818756 , 3857229.09684351,
       5084966.54156967, 1434171.65741919, 3405334.31690279,
       2138875.17954958, 6381606.9303606 , 6482801.11686457,
       2053550.41053682, 3945817.60965034, 3208318.30668647,
       3403365.02055104, 1957759.05805128, 1833195.08925603,
       2787875.45036918, 5042833.49702196, 1590716.82944678,
       2629612.97618785, 5002968.75639825, 4597848.01884701,
       2285232.89307492, 2010868.31746329, 3549393.60659592,
       5877926.43367938, 7248390.92430583, 1769023.24993266,
       1789152.37662503, 2280384.90192001, 1273156.42659973,
       4113930.66082406, 4454237.67284987, 3310170.41454817,
       6591874.65153324, 4317550.96030479, 5829910.87120538,
       3528122.59072279, 1265283.10006746, 2296370.3285097 ,
       2556586.27619081, 3234308.57838369, 5546856.60069665,
       2344618.29669149, 4725086.15276091, 3922975.10490201,
       5540452.28139834, 2239925.20694293, 1407537.51408534,
       3181326.00472679, 2928503.64553433, 2995124.52831651,
       6778966.19856435, 1221668.91116831, 3894794.57260979,
       4321087.28010875, 2932001.70935036, 5416977.31324791,
       6908220.29618008, 1460166.94247284, 3160354.33549676,
       5774081.21732184, 4892886.30312012, 5790433.39202658,
       4380553.25986236, 4998312.12106177, 3399395.35433684,
       2554412.39831553, 1322974.87828203, 2297046.18506088,
       4107174.46785389, 6596782.3381801 , 3169167.64525428,
       2529054.19495546, 2627940.00256231, 6832549.71978502,
       1677150.04616072, 2210849.72807175, 4384696.57394942,
       4547550.87451709, 3252297.1849858 , 2530804.7373329 ,
       2930034.34311145, 5171081.65557228, 2987823.45181947,
       6199682.28372623, 3893066.51167509, 3857132.70133736,
       6712100.68237454, 5552845.83189112, 3815885.91444926,
       4227892.81736419, 1991093.74166722, 1006046.22702366,
       5643299.12474753, 1593356.61352268, 5210154.12886812,
       5767298.84078898, 2785431.80455112, 3467908.40551041,
       3699107.0889763 , 6215961.78962011, 6244380.06957662,
       2312084.5118118 , 1511963.37662835, 3657989.65788753,
       3869343.05370875, 2651574.65111726, 2422656.49827985,
       6623469.37601399, 3512758.33763166, 2030321.2289238 ,
       1518781.73264236, 3531553.22344591, 1906981.76014989,
       2486324.88326847, 5774440.12778868, 2138832.84449169,
       2276553.32692002, 1772568.40666263, 4114526.50929456,
       3933038.32956348, 5145794.31252003, 4113681.64016017,
       1758577.62928864, 5315766.82445932, 1499309.39674697,
       1609119.43313668, 2514478.69509258, 4985467.61640585,
       4044275.61822715, 1647689.28189958, 4663513.6105711 ,
       1295315.30368759, 5052916.12681541, 3710081.06455444,
       1703079.36820999, 4594155.25847818, 1949515.77783218,
       7354827.65432313, 4338400.72692349, 1426956.94140739,
       1218243.04481889, 4910136.32944589, 4468063.74416034,
       4181025.41172152, 5032100.81548813, 1880938.13242862,
       4382480.51569279, 6112012.98996153, 1802699.85742546,
       4315919.94763199, 5217274.97364021])

***
<a id='section10'></a>
## 10. Output for Kaggle submission

In [94]:
#Output to CSV
'''output_avg = pd.DataFrame({'house-id':test_id['house-id'], 'price': final_predictions})
output_avg.to_csv('sub33.csv', index=False)'''

output_avg = pd.DataFrame({'house-id':test_id['house-id'], 'price': final_weighted})
output_avg.to_csv('sub-weighted310.csv', index=False)
'''
output_avg = pd.DataFrame({'house-id':test_id['house-id'], 'price': pred_ls})
output_avg.to_csv('sub-ls32.csv', index=False)'''

"\noutput_avg = pd.DataFrame({'house-id':test_id['house-id'], 'price': pred_ls})\noutput_avg.to_csv('sub-ls32.csv', index=False)"